<div>
  <h1>What topic would you like to write about?</h1>
  <form action="/generate_topic" method="post">
    <div>
      <input type="text" id="topic_desc" name="query_description" placeholder="Investment Strategy, Python Coding, ..." />
    </div>
    <button type="submit">
      Start Creating
    </button>
  </form>
</div>
